.navlink {
  border-radius: var(--mantine-radius-md);
}

.navlinkLabel {
  font-size: var(--mantine-font-size-lg);
  font-weight: $mantine-font-weight-semibold;
}

.logo {
  width: 102px;
  height: 30px;
}